<div>
<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <div class="DivHeader">
      <p>Inicio</p>
      <img id="Add"  src="../assets/icon/IconAdd.png">
    </div>
    
  </ion-toolbar>
  
</ion-header>
<div id="Contenedor" class="contenedor" >
  <div class="card">
    <div>
      <img class="CardImg" src="./assets/icon/TrashCollector.png" >
    </div>
    <div class="CardMain">
      <h3> Nombre de la receta </h3>
      <p> Cantidad de las personas utilizadas </p>
      
    </div>
    <div class="MargenCardBorrar">
      <!--<img class="CardBorrar" src="./assets/icon/TrashCollector.png" >-->
    </div>
  </div>
  
</div>  
</div>