.title {
    font-family: sans-serif;
  }
  .tratamiento{
    display: inline-flex;
  }
  .mg-trata{
    margin: 0 10px; 
    border: 2px solid black ;
    background: #3A80FB ;
    padding: 5px;
    border-radius: 15px;
  }
  .contenedor{
    display: flex;
    justify-content: flex-start;
  }
 
  label{
    color: white;
  }
  p{
    margin: 10px 0px;
  }
  .CardImg{
    width: 100px;
    margin: 10px;
    border: 3px solid black
  }
  .card{
    width: 400px;
    display: inline-flex;
    border: 2px solid #D8D8D8;
    box-shadow: 5px 5px #D8D8D8 ; 
    margin:10px;
    background-color: #01BFEA;//1CC2E7
  }
  .CardMain{
    width: 350px;
    padding-left: 20px;
  }
  .CardBorrar{
    width: 50px;
    position: relative;
    right: 0px;
  }
  .DivHeader{
    display: flex;
    justify-content: space-between;
    padding: 6px 30px;
}
  .FormaBtn{
    background: green;
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 20px;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
  }
  .TextBtn{
    font-size: 30px;
    font-weight: bold;
    color: white;
    margin: auto;
  }