.MarginToolbar{
    display: flex;
    justify-content: space-between;
    padding: 8px 15px;
}
.ColorButtonBack{
    color: white;
}
.CardImg{
    width: 120px;
    height: 110px;
    margin: 10px;
    border: 3px solid black
}
h1{
    margin: 20px;
}
img{
    width: 40px;
    height: 40px;
    margin: 0 3px;
}
.MarginBtnBack{
    display: flex;
}

.TextProcedure{
    border: 1px none #c5c5c5;
  padding: 5px 10px;
  font-size: 20px;

  display: block;
  margin-left: 10px;
  width: 95%;
  overflow: hidden;
  resize: both;
  min-height: 40px;
  line-height: 20px;
  field-sizing: content;
}
.DivTittleName{
    display: flex;
    justify-content: space-evenly;
}
.backgroundColorBlue{
    background: #6C82F2;
}
.Toolbar{
    padding: 1px;
}
.MarginProcedure{
    margin-bottom: 10px;
}

@media (prefers-color-scheme: dark){

    .CardImg{
        border: 3px solid white
    }
}

@media screen and (min-width: 500px){
    .DivTittleName{
        justify-content: flex-start;
    }
}