
  <div class="header">
    <div class="DivHeaderPart1">
      <img id="GoHome" class="ImgHeader" src="./../../../assets/icon/home.png">
      <h1>Name Category</h1>
    </div>
  </div>
  <div>
    <div class="ButtonHide">

    </div>
    <div class="BlockRecomendation">
      <div class="types1 margintypes">
        <h3>{{CategoryOne}}</h3>
        <div class="backgroundTittler"></div>
        
      </div>
      <div class="types2 margintypes">
        <h3>Sencillo</h3>
        <div class="backgroundTittler"></div>
      </div>
      <div class="types3 margintypes">
        <h3>{{CategoryTwo}}</h3>
        <div class="backgroundTittler"></div>
      </div>
    </div>
    <div class="CardContent">
      <div class="carouselItem">
        <div id="Contenedor" class="contenedor" *ngFor="let i of ObjectArray">
          <div (click)="SeeCard(i.id)" class="card">
            <div>
              <img class="CardImg" src="{{i.webviewPath}}">
            </div>
            <div class="CardMain">
              <h4> {{i.Name}} </h4>
              <p> {{i.Portions}} </p>
            </div>
          </div>
        </div>
        <div class="MarginButton">
          <ion-button id="ButtonMostrarMas">Mostrar mas</ion-button>
        </div>
      </div>
    </div>
  </div>
